@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 400;
  src: url("/api/azki-proxy/static/fonts/iransansX-faNum/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("/api/azki-proxy/static/fonts/iransansX-faNum/woff2/IRANSansXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("/api/azki-proxy/static/fonts/iransansX-faNum/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
}
